In [1]:
#Assignment 1

In [2]:
#1
"""Values are 'hello', -87.8, 6
expressions are +,-,*,/"""

"Values are 'hello', -87.8, 6\nexpressions are +,-,*,/"

In [3]:
#2
"""String are something that is declared within single ('') or# double quotes("  ")
Variables is a place to store/hold a value"""

'String are something that is declared within double quotes("  ")\nVariables is a place to store/hold a value'

In [4]:
#3
"""Three data types are i. INT, ii. string, iii. float"""

'Three data types are i. INT, ii. string, iii. float'

In [6]:
#4
"""Expression is combinationation of operators and operands to give a value as the result
Ex: 2+3, where 2 and 3 are operands and + is operator"""

'Expression is combinationation of operators and operands to give a value as the result\nEx: 2+3, where 2 and 3 are operands and + is operator'

In [7]:
#5
"""Spam and 10 will be statement 
= will be the expression
Expression always evaluates to a value and statement creates a variable or value"""

'Spam and 10 will be statement \n= will be the expression\nExpression always evaluates to a value and statement creates a variable or value'

In [8]:
#6
bacon=22
bacon+1
#value of bacon is 23

23

In [10]:
#7
"""'spam'+'spamspam' will be 'spamspamspam' and 'spam'*3 will be 'spamspamspam'"""

"'spam'+'spamspam' will be 'spamspamspam' and 'spam'*3 will be 'spamspamspam'"

In [11]:
#8
"""100 is invalid as variable cant be a number"""

'100 is invalid as variable cant be a number'

In [12]:
#9
"""int(), str(), float()"""

'int(), str(), float()'

In [13]:
#10
"""Two different data types cannot be added. In the given case '99' is integer and remaining is string"""

"Two different data types cannot be added. In the given case '99' is integer and remaining is string"